{{> admin/title title='Posts' }}
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Comments Allowed</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {{#each posts}}
              <tr>
                <td> {{title}} </td>
                <td> {{description}} </td>
                <td> {{status}} </td>
                <td> {{allowComments}} </td>
                <td class="btn-group">
                  <a href="/admin/posts/edit/{{_id}}" class="btn btn-sm btn-gradient-primary mr-2">Edit</a>
                  <form action="/admin/posts/delete/{{_id}}?newMethod=DELETE" method="post">
                    <button type="submit" class="btn btn-sm btn-gradient-danger mr-2" >Delete</button>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
