<section class="s-featured">
  <div class="row">
    <div class="col-full">
      <div class="featured-slider featured" data-aos="zoom-in">

        {{#each posts}}
        <div class="featured__slide">
          <div class="entry">
            <div class="entry__background" style="background-image:url('{{image}}');"></div>
            <div class="entry__content">
              <span class="entry__category"><a href="/categories/{{category._id}}">{{category.name}}</a></span>
              <h1><a href="/posts/{{_id}}" title="">{{title}}</a></h1>
              <div class="entry__info">
                <a class="entry__profile-pic">
                  <img class="avatar" src="{{user.avatar}}" alt="">
                </a>
                <ul class="entry__meta">
                  <li><a>{{user.name}}</a></li>
                  <li>{{convertTime created_at}}</li>
                </ul>
              </div>
            </div> <!-- end entry__content -->
          </div> <!-- end entry -->
        </div> <!-- end featured__slide -->
        {{/each}}

      </div> <!-- end featured -->
    </div> <!-- end col-full -->
  </div>
</section> <!-- end s-featured -->