<div class="row pagination-wrap">
  <div class="col-full">
    <nav class="pgn" data-aos="fade-up">
      <ul>
        {{#if pagination.back}}
          <li><a class="pgn__prev" href="#0">Prev</a></li>
        {{else}}
          <li><a class="pgn__prev" href="#0">Prev</a></li>
        {{/if}}

        <li><a class="pgn__num" href="#0">{{pagination.firstPage}}</a></li>
        <li><span class="pgn__num current">{{pagination.page}}</span></li>
        <li><a class="pgn__num" href="#0">{{pagination.lastPage}}</a></li>

        {{#if pagination.foward}}
          <li><a class="pgn__next" href="#0">Next</a></li>
        {{else}}
          <li><a class="pgn__next" href="#0">Next</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>