<div class="row pagination-wrap">
  <div class="col-full">
    <nav class="pgn" data-aos="fade-up">
      <ul>
        {{#if pagination.back}}
          <li><a class="pgn__prev" href="/posts?p={{subNumber pagination.page}}">Prev</a></li>
        {{else}}
          <li><a class="pgn__prev" >Prev</a></li>
        {{/if}}

        <li><a class="pgn__num" href="/posts?p=0">1</a></li>
        <li><span class="pgn__num current">{{addNumber pagination.page}}</span></li>
        <li><a class="pgn__num" href="/posts?p={{subNumber pagination.lastPage}}">{{pagination.lastPage}}</a></li>

        {{#if pagination.foward}}
          <li><a class="pgn__next" href="/posts?p={{addNumber pagination.page}}">Next</a></li>
        {{else}}
          <li><a class="pgn__next" >Next</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>