<article class="col-block popular__post">
  <a href="/posts/{{id}}" class="popular__thumb">
    <img src="{{image}}" alt="">
  </a>
  <h5>{{title}}</h5>
  <section class="popular__meta">
    <span class="popular__author"><span>By</span> <a href="/posts/{{id}}">{{user.name}}</a></span>
    <span class="popular__date"><span>on</span> <time datetime="2018-06-14">{{convertTime created_at}}</time></span>
  </section>
</article>