<article class="col-block">
  <div class="item-entry" data-aos="zoom-in">
    <div class="item-entry__thumb">
      <a href="/posts/{{id}}" class="item-entry__thumb-link">
        <img src="{{image}}" alt="{{title}}">
      </a>
    </div>

    <div class="item-entry__text">    
      <div class="item-entry__cat"><a href="/categories/{{category._id}}">{{category.name}}</a></div>
      <h1 class="item-entry__title"><a href="/posts/{{id}}">{{title}}</a></h1>
      <div class="item-entry__date">{{created_at}}</div>
    </div>
  </div> <!-- item-entry -->
</article> <!-- end article -->