{{#if errors}}
    {{#each errors}}

    {{#if title}}
    <div class="row" id="proBanner_error">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup message_box">
          <p class="text-danger">{{title}}</p>
          <button type="button" class="btn btn-sm btn-danger mr-2 message_btn" id="bannerClose_error">
            <span>&times;</span>
          </button>
        </span>
      </div>
    </div>
    {{/if}}
    {{#if category}}
    <div class="row" id="proBanner_error">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup message_box">
          <p class="text-danger">{{category}}</p>
          <button type="button" class="btn btn-sm btn-danger mr-2 message_btn" id="bannerClose_error">
            <span>&times;</span>
          </button>
        </span>
      </div>
    </div>
    {{/if}}
    {{#if status}}
    <div class="row" id="proBanner_error">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup message_box">
          <p class="text-danger">{{status}}</p>
          <button type="button" class="btn btn-sm btn-danger mr-2 message_btn" id="bannerClose_error">
            <span>&times;</span>
          </button>
        </span>
      </div>
    </div>
    {{/if}}
    {{#if description}}
    <div class="row" id="proBanner_error">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup message_box">
          <p class="text-danger">{{description}}</p>
          <button type="button" class="btn btn-sm btn-danger mr-2 message_btn" id="bannerClose_error">
            <span>&times;</span>
          </button>
        </span>
      </div>
    </div>
    {{/if}}
    {{#if user}}
    <div class="row" id="proBanner_error">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup message_box">
          <p class="text-danger">{{user}}</p>
          <button type="button" class="btn btn-sm btn-danger mr-2 message_btn" id="bannerClose_error">
            <span>&times;</span>
          </button>
        </span>
      </div>
    </div>
    {{/if}}
    {{/each}}
{{/if}} 
