<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Tickets</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> User </th>
                <th> Comment </th>
                <th> Date </th>
                <th> Approval Status </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              {{#each comments}}
              <tr>
                <td>
                  <img src="{{user.avatar}}" class="mr-2" alt="image"> {{user.name}} </td>
                <td> {{body}}</td>
                <td> {{convertTime created_at}} </td>
                <td> 
                  {{#if approved}} 
                    Approved
                  {{else}}
                    <a href="/admin/posts/comments/{{_id}}/approve" class="btn btn-sm btn-gradient-success mr-2">Approve</a>
                  {{/if}}
                </td>
                <td> 
                    <a href="/admin/posts/comments/{{_id}}/delete" class="btn btn-sm btn-gradient-danger mr-2">Delete</a>
                </td>
              </tr>
              {{/each}}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>