<tr>
  <td>
    <img src="{{avatar}}" class="mr-2" alt="image"> {{name}} 
  </td>
  <td class="text-capitalize" >
    <form class="forms-sample" method="post" action="/admin/users/{{_id}}/privileges?newMethod=PUT"  >
      <div class="form-group">

        {{#if (isAdmin currentUser.privilege section) }}
        <div class="input-group">
          <select class="form-control form-control-lg"  name="privilege">
            {{#select privilege}}
              {{#if (isAdmin currentUser.privilege 'user')}}
                <option value="subadmin" >Sub-Admin</option>
              {{/if}}
              {{#if (isAdmin currentUser.privilege 'subadmin')}}
                <option value="admin" >Admin</option>
              {{/if}}
              <option value="user" >User</option>
            {{/select}}
          </select>
          <div class="input-group-append">
            <button class="btn btn-sm btn-gradient-primary">Update</button>
          </div>
        </div>
        {{/if}}
      </div>
    </form>
  </td>
  <td class="btn-group" >               
    
    {{#if (isUser currentUser._id _id) }}

    <a class="btn btn-sm btn-gradient-primary" href="/admin/users/edit/{{_id}}">Edit</a>

    <form action="/admin/users/delete/{{_id}}?newMethod=DELETE" method="post" >
      <button type="submit" class="btn btn-sm btn-gradient-danger" >Delete</button>
    </form>
    {{/if}}

  </td>
  <td></td>
</tr>